<html>
  <head>
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  </head>
  
  <body>
	
	<div class="container-md p-3 my-3 border bg-dark text-white" id="survey">
    <h1>Survey</h1>
    <form>
        <div class="question-box">
            <label style="display: block; margin-bottom: 10px;"> <b>Describe your initial impression of the user interface below in 5 words.</b> </label>
            <input style="margin-right: 0;"  type="textarea" id="textAnswer" name="textAnswer" size="50" placeholder="Enter you answer here......" required />
        </div>
        <div class="question-box">
            <label style="display: block; margin-bottom: 10px;"><b>How would you rate the overall usability of the UI?</b></label>
            <label for="Q1A">Excellent</label><input type="radio" id="Q1A" name="Q1" value="Excellent">
            <label for="Q1B">Very Good</label><input type="radio" id="Q1B" name="Q1" value="Very Good">
            <label for="Q1C">Good</label><input type="radio" id="Q1C" name="Q1" value="Good">
            <label for="Q1D">Fair</label><input type="radio" id="Q1D" name="Q1" value="Fair">
            <label for="Q1E" >Poor</label><input type="radio" id="Q1E" name="Q1" value="Poor" style="margin-right: 0px;">
            <br>
        </div>
        <div class="question-box">
            <label style="display: block; margin-bottom: 10px;"><b>How would you rate the overall aesthetic appeal of the UI?</b></label>
            <label for="Q2A">Excellent</label><input type="radio" id="Q2A" name="Q2" value="Excellent">
            <label for="Q2B">Very Good</label><input type="radio" id="Q2B" name="Q2" value="Very Good">
            <label for="Q2C">Good</label><input type="radio" id="Q2C" name="Q2" value="Good">
            <label for="Q2D">Fair</label><input type="radio" id="Q2D" name="Q2" value="Fair">
            <label for="Q2E">Poor</label><input type="radio" id="Q2E" name="Q2" value="Poor" style="margin-right: 0px;">
            <br>
        </div>
        <div class="question-box">
            <label style="display: block; margin-bottom: 10px;"><b>Select the UI elements that you find most appealing or effective:</b></label>
            <label for="Q3A">Color Scheme</label><input type="checkbox" id="Q3A" name="Q3" value="Color Scheme">
            <label for="Q3B">Typography</label><input type="checkbox" id="Q3B" name="Q3" value="Typography">
            <label for="Q3C">Iconography</label><input type="checkbox" id="Q3C" name="Q3" value="Iconography"> <br>
            <label for="Q3D">Button Design</label><input type="checkbox" id="Q3D" name="Q3" value="Button Design">
            <label for="Q3E">Layout Structure</label><input type="checkbox" id="Q3E" name="Q3" value="Layout Structure" style="margin-right: 0px;">
            <br>
        </div>
        <div class="comment-box">
            <label for="Comment" style="text-align: left; display: block; margin-bottom: 10px;"><b>Comments: </b></label>
            <textarea id="comment" name="comment" placeholder="Enter your comments here......"></textarea>
        </div>
      <br>
      <br>
      <button type="submit" class="btn btn-warning" id="bb">Submit</button>
      <p id="thanks"></p>
    </form>
    </div>
	<script src="/assets/action.js"></script>
  </body>
</html> 