h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h2 {
    font-size: 1.5em; 
    text-align: center;
    background-color: lightsteelblue;
    padding: 10px;
    background-image: linear-gradient(to left, #553c9a 45%, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

body {
    background-color: lightsteelblue;
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
}

/* Requirement 5, 6, 7, 8 */
.question-box, .comment-box {
    border-radius: 5px;
    border: 2px solid #ccc;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
}

.question-box:hover, .comment-box:hover {
    transform: scale(1.05);
}

.question-box input {
    margin-right: 20px; 
}

.comment-box #comment {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    resize: none;
}
/* submit button */
.submit-button {
    text-align: center;
    margin-top: 20px; 
}

.submit-button button {
    font-size: 18px;
    padding: 10px 20px; 
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.submit-button button:hover {
    background-color: #2980b9; 
}
/* signature */
.signature {
    text-align: right;
    margin-top: 20px; 
    font-style: italic; 
    background-image: linear-gradient(to left, #553c9a, #ee4b2b);
    background-clip: text;
  color: transparent;
}
/* image */
.imageContainer{
    text-align: center;
    justify-content: center;
}
.image-im{
    max-width: 30%;
    transition: transform 0.3s ease-in-out;
}
.image-im:hover {
    transform: scale(1.2); 
}